# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Dropbox\3-2 Drive CSE_15\CSE 318 Artificial Intelligence Sessional\offline 4\LatinSquareProblem_solved_using_CSP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
